Repository osm-americana/openstreetmap-americana, pull requests merged in 2024-01, with the labels that each got.

#956 Show before-and-after sample images in GitHub workflow
  .github/workflows/build-preview.yml
  CONTRIBUTING.md
  scripts/folder_diff.ts
  test/sample_locations.json
  tsconfig.json
Labels: build

#1026 White shield border for Irish N-road and British A-road
  src/js/shield_defs.js
Labels: internationalization, shields

#1010 Cross-browser shield text
  shieldlib/src/screen_gfx.ts
  shieldlib/src/shield.js
  shieldlib/src/shield_banner.ts
  shieldlib/src/shield_text.ts
Labels: bug, shield-generator

#1014 Add library icon
  icons/poi_book_upright.svg
  scripts/taginfo_template.json
  src/layer/poi.js
  test/sample_locations.json
Labels: enhancement, points of interest
